@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap");
* {
  margin: 0;
  padding: 5%;
  box-sizing: border-box;
}

body {
  background-color: rgba(236, 220, 230, 0.973);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/*---------FOOTER------------------------------------------*/
footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: auto;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solis #af20d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

/*--------------------------------------------------------NAV---------------------------------------------------------------*/
/*Componentes*/
/*-----------------------------INICIO------------------------------------------------------*/
.nombre {
  margin: 30px;
  padding: 10px;
}
.nombre .h2:hover {
  background-color: #d788da;
  width: 100%;
  height: 80%;
}

.nombreMagie {
  text-align: center;
  font-family: "Franklin Gothic Medium", sans-serif;
}

.galeria__card {
  display: flex;
  padding: 70%;
  width: 80%;
  flex-flow: column nowrap;
}
.galeria__card .izquierda {
  display: flex;
  justify-content: space-between;
}
.galeria__card p {
  font-weight: 300;
  text-align: center;
}
.galeria__card .derecha {
  display: flex;
  flex-direction: row-reverse;
}
.galeria__card p {
  font-weight: 100;
  text-align: center;
}

@media (min-width: 961px) {
  .galeria {
    max-width: 70%;
  }
}
/*----------------- -------MAIN SECTION-------------------------------------------------------*/
.contenedor {
  padding: 60px;
  width: 90%;
  max-width: 100px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: black;
  font-size: 30px;
  font-family: Monotype Corsiva;
  margin-bottom: 80px;
}

.galeria-conjuntos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-conjuntos {
  width: 30%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.imagen-conjuntos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(193, 140, 236, 0.7);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img {
  width: 70px;
}

.hover-galeria p {
  color: #fff;
}

.imagen-conjuntos:hover .hover-galeria {
  transform: scale(1);
}

@media (min-width: 961px) {
  .contendeor {
    max-width: 70%;
  }
}
/*------ Nuestros servicios-------*/
.about-services {
  background: #f2f2f2;
  padding-bottom: 30px;
}

.servicio-cont {
  display: flex;
  justify-content: space-between;
}

.servicio-ind {
  width: 28%;
}

.servicio-ind img {
  width: 90%;
}

.servicio-ind h3 {
  margin: 10px;
}

.servicio-ind p {
  font-weight: 300;
  text-align: center;
}

@media (min-width: 961px) {
  .contendeor {
    max-width: 70%;
  }
}
/*---------MARRCAS---------------------------------------------*/
#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 5px solid #f7f7f7;
}

p {
  font-family: "Crimson Text", serif;
}

.contenedor__titulo {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  background-color: white;
  margin-top: 30px;
}
.contenedor__titulo Img {
  display: flex;
  justify-content: center;
  padding: 35px;
}
.contenedor__titulo h1 p {
  text-align: center;
  font-family: "Crimson Text", serif;
  height: 50vh;
  margin: 20px;
}
.contenedor__titulo Img {
  height: 50vh;
  width: 100vh;
}

/*--------------------------------------------------------CONTACTANOS----------------------------------------------*/
body {
  background-color: rgba(236, 220, 230, 0.973);
}

.form-register {
  width: 400px;
  background: #e7ace2;
  padding: 30px;
  margin: auto;
  margin-top: 60px;
  border-radius: 4px;
  font-family: Bodoni MT;
  color: rgb(14, 12, 12);
  box-shadow: 7px 13px 37px rgb(23, 54, 192);
}
@media screen and (max-width: 468px) and (min-width: 961px) {
  .form-register {
    text-align: center;
    width: 50%;
    padding: 20px;
  }
}

.controls {
  width: 100%;
  background: #e3e9e7;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #0f1a13;
  font-family: Bodoni MT;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: rgb(158, 16, 16);
  text-decoration: none;
}

.form-register a:hover {
  color: rgb(14, 6, 121);
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #e3e9e7;
  border: none;
  padding: 12px;
  color: rgb(4, 54, 58);
  margin: 16px;
  font-size: 16px;
}

/*------------------BOOTSTRAP INICIO-----------------------------------*/
.container {
  padding: 20px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*------------------BOOTSTRAP FORMULARIO-----------------------------------*/
.containerFormulario {
  height: 50%;
  width: 100%;
}

/*# sourceMappingURL=stylo.css.map */
