*{  
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
}

body {
    background-color: rgba(236, 220, 230, 0.973);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@import './base/fonts';
@import './base/footer';
@import './base/header';
@import './base/variables'; 
@import './base/colores';
@import './base/extends';

/*Componentes*/
@import './componentes/inicio';
@import './componentes/masvendidas';
@import './componentes/nosotras';




/*--------------------------------------------------------CONTACTANOS----------------------------------------------*/


body {
    background-color: rgba(236, 220, 230, 0.973);
}

.form-register {
    width: 400px;
    background: #e7ace2;
    padding: 30px;
    margin: auto;
    margin-top: 60px;
    border-radius: 4px;
    font-family: Bodoni MT;
    color:rgb(14, 12, 12);
    box-shadow: 7px 13px 37px rgb(23, 54, 192);


@media screen and (max-width:468px) and (min-width:961px) {
    text-align: center;
    width: 50%;
    padding: 20px;
    }
}


.controls {
    width: 100%;
    background:#e3e9e7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:1px solid #0f1a13;
    font-family: Bodoni MT;
    font-size: 18px;
    color:rgb(255, 255, 255);
}


.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-register a {
    color:rgb(158, 16, 16);
    text-decoration:none;
}    


.form-register a:hover {
    color:rgb(14, 6, 121);
    text-decoration:underline;
    
}


.form-register .botons {
    width: 100%;
    background: #e3e9e7;
    border:none;
    padding: 12px;
    color:rgb(4, 54, 58);
    margin: 16px;
    font-size: 16px;
}






/*------------------BOOTSTRAP INICIO-----------------------------------*/
.container {
    padding: 20px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}



/*------------------BOOTSTRAP FORMULARIO-----------------------------------*/
.containerFormulario {
    height: 50%;
    width: 100%;
}







