%hoverimg {
    position:absolute;
    width: 50%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background:rgba(193, 140, 236, 0.7);
    transition: transform .5s;
    justify-content: center;
    align-items: center;
}

%contenedor{
    padding: 60px;
    width: 90%;
    max-width: 100px;
    margin: auto;
    overflow: hidden;
}