/*-----------------------------INICIO------------------------------------------------------*/

.subtituloInicio{
    width: 100%;
    margin: 10px;  
    padding: 10px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: inline-block;


    & h1:hover{
    background-color: #d788da;
    width: 100%;
    height: 80%;
}

}

.galeria__card{
    display: flex;  
    padding: 60px;
    width: 90%;  
    flex-flow: column nowrap;
    
   
.izquierda{
    display: flex;       
    justify-content: space-between;
    
}

    & p{
        font-weight: 300;
        text-align: center;
}

.derecha{
    display: flex;
    flex-direction: row-reverse;
    
}
}

@media (min-width:961px) {
    .galeria {
        max-width: 70%;

    }
}


/*----------------- -------MAIN SECTION-------------------------------------------------------*/
.contenedor{
    padding: 60px;
    width: 90%;
    max-width: 100px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:black;
    font-size: 30px;
    font-family: Monotype Corsiva;
    margin-bottom: 80px;
    
}

.galeria-conjuntos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-conjuntos{
    width: 30%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);

}

.imagen-conjuntos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position:absolute;
    width: 50%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background:rgba(193, 140, 236, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 70px;

}

.hover-galeria p{
    color: #fff;
    
}

.imagen-conjuntos:hover .hover-galeria{
    transform: scale(1);
}


@media (min-width:961px) {
    .contendeor {
        max-width: 70%;
    }

}


/*------ Nuestros servicios-------*/

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;

}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    
}

.servicio-ind{
    width: 28%;
    
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px;
}

.servicio-ind p{
    font-weight: 300;
    text-align: center;
}

@media (min-width:961px) {
    .contendeor {
        max-width: 70%;
    }
}