p{
    font-family: $main-font;
}


.contenedor__titulo {
    text-align: center;
    padding: 20px;    
    font-size: 20px;
    background-color: white;
    margin-top: 30px;



    & Img{
        display: flex;
        justify-content: center;
        padding: 35px;
    }
        
    
    & h1 p{    
        text-align: center;
        font-family: $main-font;
        height: 50vh;
        margin: 20px; 
    }


        & Img{
            height: 50vh;
            width: 100vh;
          }
        
}

    

@media screen and (max-width:468px) and (min-width:961px) {

}
       



    



