/*HEADER*/
header{
    height: 100px;
    background: #ccc;
    padding: 0 30px;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
}

.logo{
    text-transform: uppercase;
    color: rgb(238, 144, 164);
    font-weight: 200;
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding:  0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: rgb(216, 108, 175);
}

#check{
    display: none;
}
